.header {
  &_menu {
    margin: 0 -10px;
    li {
      a {
        display: block;
        padding: 0 10px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.hamburger-toggle {
  span {
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
  }
  &.open {
    span {
      &:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 8px;
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px;
      }
    }
  }
}

.mobile-menu {
  .menu {
    a {
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding: 0.75rem 0;
    }
    li {
      &:first-of-type {
        a {
          padding-top: 0;
        }
      }
      &:last-of-type {
        a {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
  }
  
}

.bullet {
  font-size: 12px;
  color: #2257da;
  list-style-type: disc;
  padding-bottom: 10px;
}

.breadcrumbs {
  &_item {
    position: relative;
    &:first-of-type {
      background: url("../../images/home.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:last-of-type {
      &:after {
        content: none;
      }
    }
    &:after {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      top: 51%;
      right: -2rem;
      background: url("../../images/breadcrumbs-arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transform: translateY(-50%) translateX(-100%);
      -ms-transform: translateY(-50%) translateX(-100%);
      transform: translateY(-50%) translateX(-100%);
    }
  }
}

hr {
  background: url("../../images/hr.svg") center/5em 100% repeat-x;
}

.header-fixed {
  -webkit-animation: fadeInDown 0.5s forwards;
  animation: fadeInDown 0.5s forwards;
}

.sketch-underline {
  background: url("../../images/sketch-underline.svg") bottom left/100% 0.75rem
    no-repeat;
  padding-bottom: 0.1rem;
}

.welcome, .post-bg {
  background: url("../../images/bigback.webp"),linear-gradient(151.47deg,#fa005a -21.32%,#280033 77.37%),#520044;
}

.welcome-posts {
  background: url("../../images/pixelback.webp"), rgba(155, 0, 63, .5);
  background-size: 100% 100%;
  border-radius: 18px;
}

.lang {
  &-item {
    list-style-type: none;
    padding: 0 0.25rem;
    a {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.75rem;
      border: 1px solid;
      border-radius: 0.25rem;
    }
  }
}

@-webkit-keyframes fadeInDown {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
